
.important-banner {
  display: flex;
  margin-top: 0px;
  align-items: center;
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Segoe UI', sans-serif;
}

.important-label {
  font-weight: bold;
  margin-right: 20px;
  font-size: 16px;
  background-color: red;
  padding: 6px 12px;
  border-radius: 2px;
  color: white;
}
.important-label p {
  color: white;
}
.marquee-container {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 25s linear infinite;
}

.marquee-content a {
  color: #00ffff;
  
  text-decoration: none;
  margin-right: 200px;
  font-size: 16px;
  font-weight: 700;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 560px) {
  .important-banner{
    height: 7px;
  }
  .important-label{
    height: 15px;
  }
  .important-label p{
    font-size: 7px;
  }
  
}
