.important-banner {
  display: flex;
  margin-top: 0px;
  align-items: center;
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Segoe UI', sans-serif;
}

.important-label {
  font-weight: bold;
  margin-right: 20px;
  font-size: 16px;
  background-color: red;
  padding: 6px 12px;
  border-radius: 2px;
  color: white;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  padding: 10px 0;
  box-sizing: border-box;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 120s linear infinite;
}

.marquee-content a {
  color: #00ffff;
  display: inline-block;
  margin-right: 50px; /* Space between links */
  font-size: 1.2rem;
  text-decoration: none;
}

.marquee-content a:hover {
  color: #c3efff;
  
  text-decoration: none;
  margin-right: 200px;
  font-size: 16px;
  font-weight: 700;
}


@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 560px) { 
  .important-banner{
    height: 20px;
   
  }
  .important-label{
    height: 15px;
    width: 70px;
    font-size: 10px !important;
    padding: 3px 4px !important;
    
  }
  .marquee-content a {
    font-size: 13px !important;
    margin-right: 100px;
  }
  
}
