.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pce_logo {
  height: 60px;
}

.pce_video {
  height: 60px;
  border-radius: 8px;
}

@media (max-width: 1023px) {
  .PerCAA-logo {
    visibility: hidden;
  }

  .PerCAA-logo video {
    visibility: hidden;
  }
}

.topComp{
    width: 100vw;
    /* padding: 10px; */
    background-color: rgb(255, 255, 255);
    /* height: 18vh; */
    /* background-color: aliceblue; */
}

.topmarquee{
    font-size: 1.2rem;
    width: 70vw;
}

.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* gap: 60px; */
    /* align-items: center; */
    padding: 15px;
    text-align: center;
    /* background-color: rgb(219, 239, 204); */
}


.percaa{
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 2px;
    color:rgb(0, 0, 0);
}

.top-head{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    margin-bottom: 20px;
    /* font-weight: 500; */
}

.PerCAA-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute; 
    top: 50px; 
    left: 0px; 

    padding: 10px;       
    margin: 10px;       
}

.PerCAA-logo video {
  width: 180px;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  filter: blur(0.5px) brightness(1.7);
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0.1) 90%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0.1) 90%);
}


.top-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    padding: 0 10rem; 
    box-sizing: border-box; 
    flex-wrap: wrap;
}



.smallmarquee{

    display: none;
    padding: 10px;
    /* background-color: aliceblue; */
}
.top-logos-marquee{
    display: flex;
    /* width:12vw; */
    justify-content: space-evenly;
    gap: 40px;
    
}

.top-logos img{
    /* margin: 0 20px; */
    /* width: 6vw; */
    width: auto;
    height: 5vw;
    /* height: auto; */
}

.IET_LOGO {
    width: 12.5vw !important;
}

.sp_logo{
    width: 12vw !important;
    height: 3vw !important;
}
/* .sp_logo img{
    width: 10vw;
} */
.top-logos-marquee img{
    /* margin: 0 20px; */
    width: 15vw;
    /* height: 5vw; */

}
.top-logos-marquee{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-logos.sp_logo{
    width: 3vw;
}

.sponsor{
    font-size: 1rem;
    margin-bottom: 0px;
    font-weight: 500;
}
@media screen and (max-width : 920px){
    .topmarquee{
        font-size: 1.3rem;
    }
    .percaa{
        font-size: 28px;
        font-weight: bold;
    }
    .top-head{
        font-size: 18px;
    }
}

@media (max-width:750px) {
    .smallmarquee{
        display: block;
    }
    .top-logos{
        /* justify-content: space-around;
        gap: 12px; */
        display: none;
    }
    .top{
        gap: 5px;
        justify-content: center;
    }
    
}
@media screen and (max-width : 690px){
    .top{
        gap: 10px;
    }
    .percaa{
        font-size: 22px;
    }
    .top-head{
        font-size: 15px;
    }
    .top-logos{
        justify-content: space-around;
        gap: 15px;
    }
    .top-logos img{
        /* margin: 0 20px; */
        width: 8vw;
    
        height: 10vw;
    
    }
    .sp_logo{
        width: 15vw !important;
        height: 6vw !important;
    }
}
@media screen and (max-width : 480px){
    .top{
        gap: 5px;
        justify-content: center;
    }
   

   
    .top-logos img{
    /* margin: 0 20px; */
    width: 7vw;

    height: 6vw;

}
.sp_logo{
    width: 25vw !important;
    height: 10vw !important;
}
    .topmarquee{
        font-size: 10px;
       
    }
    
    .percaa{
        font-size: 25px;
    }
    .top-head{
        font-size: 12px;
    }
}



