.container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}
.contianer_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 8px #0000001a;
    padding: 10px 10px 10px 10px;
    width: calc(38% - 20px);
    transition: transform .2s;
    border: 1px solid rgb(182, 192, 196);
    gap: 20px;
    /* height: 400px; */
}
.info {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    color: black;
    gap: 2px;
}
.info p{
    color: black;
    text-align: center ;
    font-size: .9rem;
}
.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
    line-height: 20px;
    word-spacing: 3px;
    text-underline-offset: 10px;
    text-decoration-color: #373535;
    font-style: italic;
    color: rgb(8, 7, 7);
    margin-top: 10px;
}

.card img{
    border-radius: 10px;
    width: 40%;
    height: 40%;
}
.heading{
    font-weight: 700;
    background-color: rgb(235, 234, 234);
    padding: 10px;
    color: rgb(47, 122, 226);
    width: 100%;
    font-size:larger;
    margin: 10px 0 25px;
}

@media (max-width: 1280px) {
    .card h2 {
        font-size: .8em;
        margin-bottom: 10px;
        text-align: center;
    }
}
@media (max-width: 1280px) {
    .card {
        width: calc(33% - 20px);
    }
}
@media (max-width: 930px) {
    .card {
        width: calc(33% - 20px);
    }
}
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}
@media (max-width: 550px) {
    .card {
        width: 100%;
    }
}