.highlightedPara {
  background-color: rgb(185, 255, 255);
}

/* General styles for the table */
.tableWrapper {
  width: 100%;
}

@media (max-width: 1250px) {
  .tableWrapper {
    overflow-x: auto;
  }
}

table {
  border-collapse: collapse;
}

.CFP_table td {
  border: 1px solid black;
  padding: 10px;
  font-size: 0.9rem;
}

table .pstrongCFP {
  text-align: center;
  font-size: 1rem;
  background-color: #f1f1f1; /* Light gray background for even rows */
}

/* Targeting all table rows */
table tr:nth-child(even) {
  background-color: #f1f1f1; /* Light gray background for even rows */
}

table tr:nth-child(odd) {
  background-color: #ffffff; /* White background for odd rows */
}

.review_process ul {
  margin: 10px 0;
}

.important-banner {
  display: flex;
  margin-top: 0px;
  align-items: center;
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Segoe UI', sans-serif;
}

.important-label {
  font-weight: bold;
  margin-right: 20px;
  font-size: 16px;
  background-color: red;
  padding: 6px 12px;
  border-radius: 2px;
  color: white;
}

.marquee-container {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 25s linear infinite;
}

.marquee-content a {
  color: #00ffff;
  
  text-decoration: none;
  margin-right: 200px;
  font-size: 16px;
  font-weight: 700;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
