 .crousalCOmponent{
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
.carousel { 
    position: relative;
    width: 82vw;
    height: 370px;
    overflow: hidden;
    background-color: #cdcdcd;
    /* padding: 20px; */
} 
  
.carousel-item .slide-image { 
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-repeat: no-repeat;
     
} 


  
.carousel-item { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    border: none; 
    top: 0; 
    left: 100%; 
} 
  
.carousel-item.active { 
    left: 0; 
    transition: all 0.3s ease-out; 
} 
  
.carousel-item div { 
    height: 100%; 
} 
  
.red { 
    background-color: red; 
} 
  
.green { 
    background-color: green; 
} 
  
.yellow { 
    background-color: yellow; 
} 
  
.violet { 
    background-color: violet; 
}



@media (max-width:1400px) {

    .carousel { 
    position: relative; 
    width: 100vw; 
    height: 310px; 
    overflow: hidden; 
    background-color: #cdcdcd; 
    padding: 20px;
} 
}
@media (max-width: 1000px) {
    .carousel {
        position: relative;
        width: 85vw;
        height: 245px;
        overflow: hidden;
        background-color: #cdcdcd;
        padding: 20px;
    }
}
@media (max-width: 850px) {
    .carousel {
        position: relative;
        width: 85vw;
        height: 180px;
        overflow: hidden;
        background-color: #cdcdcd;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .carousel {
        position: relative;
        width: 85vw;
        height: 150px;
        overflow: hidden;
        background-color: #cdcdcd;
        padding: 20px;
    }
}



@media (max-width: 500px) {
    .carousel {
        position: relative;
        width: 90vw;
        height: 120px;
        overflow: hidden;
        background-color: #cdcdcd;
        padding: 20px;
    }
}
