.container {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.contianer_wrapper{
    width: 100%;
    /* display: flex; */
    justify-content: center;
}
.card {
    /* background: linear-gradient(145deg, #dde0e7, #6498ac); */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: calc(25% - 20px);
    transition: transform 0.2s;
    border: 1px solid rgb(182, 192, 196);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 120px;
    height: 110px;
    margin-bottom: 10px ;
}
.card h2 {
    font-size: 1.0em;
    margin-bottom: 5px;
    text-align: center;
    color: black;
}
.heading{
    font-weight: 700;
    background-color: rgb(235, 234, 234);
    padding: 10px;
    color: rgb(47, 122, 226);
    width: 100%;
    font-size:larger;
    margin: 10px 0 10px;
}
.card p {
    color: #050505;
    text-align: center ;
    font-size: .75rem;
    font-weight: 500;
}
.designation_title{
    margin-top: 10px;
    margin-bottom: 10px !important; 
    font-weight: 600 !important; 
}
@media (max-width: 1280px) {
    .card h2 {
        font-size: .8em;
        margin-bottom: 10px;
        text-align: center;
    }
}
@media (max-width: 1280px) {
    .card {
        width: calc(33% - 20px);
    }
}
@media (max-width: 930px) {
    .card {
        width: calc(33% - 20px);
    }
}
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}
@media (max-width: 550px) {
    .card {
        width: 100%;
    }
}