/* General Styles */
.clear {
  clear: both;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.cross{
  font-size: 20px;
}

.navbar {
  background-color: rgb(22, 75, 150);
  overflow: hidden;
  width: 100vw;
  height: 6vh;
  z-index: -100;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.navbar ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-weight: bold;
  /* border-radius: 550px; */
}

.navbar ul li a:hover {
  /* background-color: rgb(22, 75, 150); */
  background-color: #ED3237;
}

.navbar ul li ul {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  opacity: 90%;
}

.navbar ul li ul li a {
  padding: 12px 16px;
}

.navbar ul li:hover ul {
  display: block;
}

.toggle-button {
  display: none;
  position: absolute;
  top: 36px;
  right: 10px;
  z-index: 3; /* Ensure the button is above other elements */
}

.close {
  display: none;
}

/* Responsive Styles */
@media screen and (max-width: 1040px) {
  .navbar {
    font-size: 12px;
  }
}

@media screen and (max-width: 840px) {
  .navbar {
    font-size: 11px;
  }
}

@media screen and (max-width: 785px) {
  .navbar {
    width: 100%;
    z-index: 2;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .toggle-button {
    display: block;
    color: white;
  }

  .clear {
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
  }

  .close {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 32px;
    font-weight: 500;
  }

  .navbar.toggleActive {
    transform: translateX(0);
  }
}
