.heading{
    font-weight: bold;
    margin: 10px 0;
    background-color: rgb(235, 234, 234);
    padding: 10px;
    color: rgb(47, 122, 226);
    font-size: larger;
    margin-bottom: 25px;
}

.customM {
    margin-top: 20px !important;
}

.publicationData {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.IET_logo {
    width: 20vw;
    margin: 0 20px;
}

.Bentham_logo {
    width: 10vw;
    margin: 0 20px;
}

.data{
    text-align: justify;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 500;
    color: black;
    word-spacing: 2px;
    line-height: 20px;
}
.book_card{
    width: 30%;
    border: 1px solid rgb(173, 172, 172);
    height: 240px;
}
.book_card_heading{
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5px;
    color: black;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 10px;

}
.books_container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.updated_soon_text{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 50px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 600;
}

@media (max-width:1000px){
    .data{
        word-spacing: 0px;
    }
    .publicationData {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .IET_logo {
        width: 30vw;
        /* margin: 0 30px; */
    }
    .books_container{
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .book_card{
        width: 45%;
        border: 1px solid rgb(173, 172, 172);
        height: 300px;
    }
}

@media (max-width:700px){
    .publicationData {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .IET_logo {
        width: 50vw;
        /* margin: 0 30px; */
    }
    .books_container{
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .book_card{
        width: 45%;
        border: 1px solid rgb(173, 172, 172);
        height: 300px;
    }
    .Bentham_logo {
        width: 20vw;
        margin: 0 20px;
    }
}

@media (max-width:460px){
    .IET_logo {
        width: 60vw;
        /* margin: 0 30px; */
    }
    .book_card{
        width: 70%;
        border: 1px solid rgb(173, 172, 172);
        height: 300px;
    }
    .Bentham_logo {
        width: 30vw;
        margin: 0 20px;
    }
}
.important-banner {
  display: flex;
  margin-top: 0px;
  align-items: center;
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Segoe UI', sans-serif;
}

.important-label {
  font-weight: bold;
  margin-right: 20px;
  font-size: 16px;
  background-color: red;
  padding: 6px 12px;
  border-radius: 2px;
  color: white;
}

.marquee-container {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 25s linear infinite;
}

.marquee-content a {
  color: #00ffff;
  
  text-decoration: none;
  margin-right: 200px;
  font-size: 16px;
  font-weight: 700;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.mainHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.mainHeading h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #003366; /* Deep blue for formality */
  font-family: "Georgia", serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.titleLine {
  flex-grow: 1;
  height: 2px;
  background: linear-gradient(to right, transparent, #003366, transparent);
  max-width: 120px;
}
