.heading{
    font-weight: bold;
    margin: 10px 0;
    background-color: rgb(235, 234, 234);
    padding: 10px;
    color: rgb(47, 122, 226);
    font-size: larger;
    margin-bottom: 25px;
}
table{
    width: 100%;
}
.list_item{
    color: blue;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px ;
}
li::marker{
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
}
.paymentDetails{
    list-style: none;
    
}

.paymentDetails li{
    margin: 8px 0;
    border-bottom: 2px solid rgb(197, 194, 194);
    padding: 5px;
}
.paymentDetails li span{
    font-weight: bold;
    padding: 2px;
    
}
.important-banner {
  display: flex;
  margin-top: 0px;
  align-items: center;
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Segoe UI', sans-serif;
}

.important-label {
  font-weight: bold;
  margin-right: 20px;
  font-size: 16px;
  background-color: red;
  padding: 6px 12px;
  border-radius: 2px;
  color: white;
}

.marquee-container {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 25s linear infinite;
}

.marquee-content a {
  color: #00ffff;
  
  text-decoration: none;
  margin-right: 200px;
  font-size: 16px;
  font-weight: 700;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
